.card-container {
    background-color: transparent;
    /*perspective: 2000px;*/
    width: 50%;
    height: 50%;
    margin: auto;
    /*border: 1px solid #CCC;*/
}

.card-inner {
    text-align: center;
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-inner.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card__face--front-card {
    
}

.card__face--back-card {
    transform: rotateY(180deg);
}
